
.C_table{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: aliceblue;
}

.table-container {
  margin: 20px;
  width: 90%;
  height: 80%;
  overflow: scroll;
}
  
.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table-container table, th, td {
    border: 1px solid #a1a1a1;
    padding: 8px;
    text-align: left;
    /* background: #d5d5d5; */
  }
  
  .table-container th {
    background-color: #6d6c6c;
    color: white;
  }
  